

.banner {
  width: auto;
  min-width: 100%;
  height: 500px;

  background: rgb(0,125,147);
  background: radial-gradient(circle, rgba(0,125,147,1) 0%, rgba(66,0,99,1) 100%);

  position: relative;
  margin-top: 6%;
  margin-bottom: 2%;
  animation: Banner 4.0s .75s cubic-bezier(0, 0.75, 0, 1) forwards;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.banner-xs {
  width: auto;
  min-width: 100%;
  height: 300px;

  background: rgb(0,125,147);
  background: radial-gradient(circle, rgba(0,125,147,1) 0%, rgba(66,0,99,1) 100%);

  animation: Banner 4.0s .75s cubic-bezier(0, 0.75, 0, 1) forwards;

  position: relative;
  margin-top: 6%;
  margin-bottom: 2%;
}

#components {
  width: auto;
  height: auto;
  max-width: 600px;
  min-width: 600px;
  position: absolute;
  /* left: 900px; */
  left: 25%;
  /* top: 100px; */
  top: 5%;
}

#muchmore {
  width: auto;
  height: auto;
  max-width: 300px;
  min-width: 300px;
  position: absolute;
  /* left: 900px; */
  right: 5%;
  /* top: 100px; */
  bottom: 5%;
}

#redBlock {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  height: 190px;
  background-color: red;
  position: absolute;
  /* left: 900px; */
  left: 0%;
  /* top: 100px; */
  top: 75%;
  animation: redBlock 2s .5s ease-in-out forwards;
}

#greenBlock {
  width: auto;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  height: 200px;
  position: absolute;
  background-color: rgb(0, 255, 55);
  /* left: 900px; */
  left: 35%;
  /* top: 100px; */
  bottom: 0%;
  animation: greenBlock 2s .5s ease-in-out forwards;
}

#yellowBlock {
  width: auto;
  height: auto;
  max-width: 190px;
  min-width: 190px;
  height: 200px;
  background-color: yellow;
  position: absolute;
  /* left: 900px; */
  right: 0%;
  /* top: 100px; */
  top: -10%;
  animation: yellowBlock 2s .5s ease-in-out forwards;
}

#car {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 70%;
  /* top: 100px; */
  top: 30%;
  transform: rotateZ(90deg);
  
  animation: leftRight 5s .5s cubic-bezier(1,.18,.3,1.01) infinite forwards;
}

#carText {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 70%;
  /* top: 100px; */
  top: 5%;
}

#drone {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  left: 20%;
  top: 70%;

  animation: drone 10s .5s cubic-bezier(.83,.3,.4,.73) infinite forwards;
}

#droneText {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 16%;
  /* top: 100px; */
  top: 45%;
}

#rpi {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  left: 60%;
  top: 350px;
  transform: rotateZ(90deg);
}

#electronicsText {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 55%;
  /* top: 100px; */
  top: 55%;
}

#bulbGlow {
  width: auto;
  height: auto;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 32;

  animation:bulbGlow 4s .5s cubic-bezier(.83,.3,.4,.73) infinite forwards;

}

#bulbDim {
  width: auto;
  height: auto;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  left: 10%;
  top: 10%;

  animation: bulbDim 4s .5s linear infinite forwards;

}

#electricalText {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 12%;
  /* top: 100px; */
  top: 15%;
}

#mdcomponents {
  width: auto;
  height: auto;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  /* left: 900px; */
  left: 10%;
  /* top: 100px; */
  top: 5%;
}

#mdmuchmore {
  width: auto;
  height: auto;
  max-width: 150px;
  min-width: 150px;
  position: absolute;
  /* left: 900px; */
  right: 5%;
  /* top: 100px; */
  bottom: 5%;
}


#mdcar {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  /* left: 900px; */
  left: 70%;
  /* top: 100px; */
  top: 30%;
  transform: rotateZ(90deg);
  
  animation: leftRight 5s .5s cubic-bezier(1,.18,.3,1.01) infinite forwards;
}

#mdcarText {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  /* left: 900px; */
  left: 70%;
  /* top: 100px; */
  top: 10%;
}

#mddrone {
  width: auto;
  height: auto;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  left: 10%;
  top: 70%;

  animation: drone 10s .5s cubic-bezier(.83,.3,.4,.73) infinite forwards;
}

#mddroneText {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  /* left: 900px; */
  left: 2%;
  /* top: 100px; */
  top: 50%;
}

#mdrpi {
  width: auto;
  height: auto;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: rotateZ(90deg);
}

#mdelectronicsText {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  /* left: 900px; */
  left: 40%;
  /* top: 100px; */
  top: 55%;
}

#mdbulbGlow {
  width: auto;
  height: auto;
  max-width: 25px;
  min-width: 25px;
  position: absolute;
  left: 10%;
  top: 25%;
  z-index: 32;

  animation:bulbGlow 4s .5s cubic-bezier(.83,.3,.4,.73) infinite forwards;
}

#mdbulbDim {
  width: auto;
  height: auto;
  max-width: 25px;
  min-width: 25px;
  position: absolute;
  left: 10%;
  top: 25%;
}

#mdelectricalText {
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
  /* left: 900px; */
  left: 14%;
  /* top: 100px; */
  top: 30%;
}

/* Animations */

@keyframes bulbGlow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bulbDim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Banner {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  100% {
    /* transform: skewY(-1deg); */
    clip-path: polygon(0 4%, 100% -4%, 100% 97%, 0 104%);
  }

}

@keyframes redBlock {
  0% {
      transform: translateY(0%);
  }

  100% {
      transform: translateY(-30%);
  }

}

@keyframes greenBlock {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(10%);
  }

}

@keyframes yellowBlock {
  0% {
      transform: translateY(0%);
  }

  100% {
      transform: translateY(20%);
  }

}

@keyframes leftRight {
  0% {
      transform: translateY(0%) rotateZ(90deg);
  }

  50% {
      transform: translateY(40%) rotateZ(90deg);
  }

  100% {
      transform: translateY(0%) rotateZ(90deg);
  }
}


@keyframes drone {
  0% {
      transform: rotateZ(0deg) translateY(0%) translateX(0%);
  }

  50% {
      transform: rotateZ(360deg) translateY(10%) translateX(40%);
  }

  100% {
      transform: rotateZ(0deg) translateY(0%) translateX(0%);
  }
}